@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@mixin innerBoard {
  background-color: #fff;
  padding: 20px;
  border-bottom: 2px solid $light-grey;
}
@mixin liReset {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  & a {
    color: $dark;
    text-decoration: none;
    cursor: pointer;
  }
  & a:hover {
    color: $dark-black;
    cursor: pointer;
  }
}
$grey: #959595;
$light-grey: #fafafa;
$black: #21252a;
$dark: rgb(83, 89, 97);
$dark-black: rgb(33, 37, 42);
$mint: rgb(0,204,170);
$innerPadding:50px;

body {
  font-family: 'Noto Sans KR', sans-serif;
}
#portal {
  position: absolute;
  top: 0;
}

// section {
//   padding: 35px;
// }


ul{
    padding: 0;
}

.Menu {
  display: flex;
  width: 100%;
  height: 64px;
  //   border-bottom: 1px solid $grey;
  box-shadow: rgb(0 0 0 / 10%) 0px -1px 0px 0px inset;
  align-items: center;
  justify-content: space-between;
  & img {
    padding-left: $innerPadding;
    width: 150px;
    cursor: pointer;
  }
  & nav {
    display: flex;
    align-items: center;
    padding-right: $innerPadding;

    & ul {
      margin: 0;
      & li {
        @include liReset();
      }
    }
  }
  &__icon {
    display: none;
    font-size: 20px;
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;

  & .modal__content {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    width: 30%;
    background-color: #fff;
    z-index: 100;
    border-radius: 10px;
    padding: 35px;
    margin: 0 auto;

    header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      h3 {
        margin: 0;
      }
    }

    svg {
      font-size: 25px;
      color: $dark;
    }

    p {
      margin-bottom: 5px;
    }
  }

  & .modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  & .modal__form {
    display: none;
    width: 100%;
  }

  & .modal__form.active {
    display: inline-flex;
    flex-direction: column;
  }
}

// button {
//   height: 0;
//   padding: 0;
//   border: none;
//   outline: none;
//   font: inherit;
//   color: inherit;
//   background: none;
//   cursor: pointer;
// }

input,textarea,select {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  //   margin: 10px 0 !important;
  outline: none;
  background-color: none;
  border-radius: 4px;
  border: 1px solid #eaecee;
  color: #21252a;
  min-height: 48px;
  font-size: 1rem;
  text-indent: 10px;
  &:hover {
    border: 1px solid grey;
  }
  &:focus {
    border: 1px solid rgb(33, 37, 42);
  }
  & + & {
    margin-top: 1rem;
  }
// margin-bottom: 10px;
}

textarea{margin-bottom: 10px !important;}

.banner {
//   padding-top: $innerPadding;
//   padding-bottom:$innerPadding;
  color: $dark-black;
  font-size: 25px;
  animation: fadein 3s;
  &--font__mint {
    color: $mint;
  }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.GNB {
    & ul {
    padding:30px 0;
    margin: 0;
  }

  &__tab--li {
    @include liReset();
    border: 1px solid $mint;
    color: $mint;
    border-radius: 20px;
    min-width: 80px;
    text-align: center;
	&:first-child{
		margin-left:0
	}
    p {
      color: $mint;
      padding: 10px;
      cursor: pointer;
    }

    &:hover {
      background-color: $mint;
      p {
        color: white;
      }
    }

    &.active {
      background-color: $mint;
      p {
        color: white;
      }
    }
  }
}

.tab {
  margin-top: 10px;
  width: 100%;
  margin: 0 auto;

  &__links {
    border-bottom: 1px solid $grey;
    text-align: center;
  }

  &__links--button {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    height: 50px;
    color: $dark;
    padding: 20px 25px;
    margin-bottom: -2px;
    border:none;

    &:hover {
      background-color: #ddd;
      color: $black;
    }

    &.active {
      font-weight: bold;
      border: 1px solid $grey;
      background-color: #fff;
      color: $mint;
      border-radius: 5px 5px 0 0;
      border-bottom: none;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    &--error {
      color: red;
      font-size: 12px;
      margin: 5px 0 8px 0;
    }
  }

  &__form {
    display: none;
    border-top: none;
    background-color: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;

    label {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  &__form.active {
      padding:30px;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid $grey;
    border-top: none;
  }

  &__myPage {
      padding: 30px;
    background-color: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 5px;
    box-sizing: border-box;

    label {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  &__form--error {
    color: red;
  }
}


.write {
width: 100%;
  form {
    display: flex;
    flex-direction: column;
  }
}

main{
    width:700px;
    margin:0 auto;
    margin-top: 50px;
    display:flex !important;
}

aside{
    padding:$innerPadding;
}

.footer {
  &__copyright {
    text-align: center;
    font-size: 11px;
    height: 100px;
    line-height: 100px;
    color:$grey;
  }
}
.board {
	padding-top:0;
	height: 100%;
    &__header{
        margin:20px 0;
        display:flex;
        gap:10px;
        &--board{
            color:$mint
        }
        &--article{
            font-size:20px;
        }
    }
    &__content{
        width:500px;
        &--createdAt{
        }
        &--icon{
            display:flex;
            gap:10px;
            color:$grey;
        }
    }

}
.ui.dimmer .ui.workaround.loader:before {
  border-color: rgba(0, 0, 0, 0.1);
}

.ui.dimmer .ui.workaround.loader:after {
  border-color: #767676 transparent transparent;
}

@media screen and (max-width: 780px) {
  .Menu {
    &__icon {
      display: flex;
    }
    &__links {
      display: none;
    }
    &__links--mobile {
      position: absolute;
      margin: 0;
      padding: 10px;
      width: 100%;
      left: 0;
      top: 50px;
      display: flex;
      flex-direction: column;
      background: #fff;
      text-align: center;
      border-bottom: 1px solid $grey;
    }
  }
  li {
    padding: 10px;
  }
}
